#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

##### Video Outline:
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [1248]:
lst=[]
print(type(lst))

<class 'list'>

In [1249]:
names=["Krish","Jack","Jacob",1,2,3,4,5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [1250]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [1251]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]

In [1252]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [1253]:
fruits=["apple","banana","cherry","kiwi","gauva"]
print(fruits[1:])
print(fruits[1:3])

# Reversed Fruit items
print(fruits[-1:-6:-1])
print(fruits[::-1])

fruits[-1:1:-1]  
# Output: ['gauva', 'kiwi', 'cherry']

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['gauva', 'kiwi', 'cherry', 'banana', 'apple']
['gauva', 'kiwi', 'cherry', 'banana', 'apple']

['gauva', 'kiwi', 'cherry']

In [1254]:
## Modifying The List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [1255]:
fruits[1]="watermelon" # To avoid this we have append method in pyhton
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [1256]:
fruits[1:]="watermelon"

# Slicing: fruits[1:] refers to the portion of the list starting at index 1.
# Assignment: Assigning a string ("watermelon") replaces the sliced portion with the characters of the string, treating them as separate list elements.

In [1257]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [1258]:
fruits=["apple","banana","cherry","kiwi","gauva"]

In [1259]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [1260]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [1261]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [1262]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [1263]:
index=fruits.index("cherry")
print(index)

2

In [1264]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [1265]:
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [1266]:
fruits.sort() ## SSorts the list in ascending order

In [1267]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [1268]:
fruits.reverse() ## REverse the list

In [1269]:
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'apple']

In [1270]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [1271]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1272]:
numbers[::-3]

[10, 7, 4, 1]

In [1273]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [1274]:
### Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [1275]:
## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [1286]:
list_of_numbers = enumerate(numbers)
for element in list_of_numbers:
    print(element)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [1288]:
## Iterating with index
for index,number in enumerate(numbers,start=1):
    print(index,number)

1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [1276]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1277]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprehension

Basics Syantax            [expression for item in iterable]

with conditional logic    [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [1278]:
### Basic List Comphrension

sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1279]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [1280]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [1281]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [1282]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

#### Conclusion
List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.

In [1292]:
odd_list = [i for i in range(1,10) if(i%2)==1]

In [1293]:
odd_list

[1, 3, 5, 7, 9]

In [1294]:
square_number =  [element**2 for element in numbers]

In [1295]:
square_number

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1298]:
# Filtering number from list
even_list = [i for i in range(1,100) if i&2 == 0]
even_list

[1,
 4,
 5,
 8,
 9,
 12,
 13,
 16,
 17,
 20,
 21,
 24,
 25,
 28,
 29,
 32,
 33,
 36,
 37,
 40,
 41,
 44,
 45,
 48,
 49,
 52,
 53,
 56,
 57,
 60,
 61,
 64,
 65,
 68,
 69,
 72,
 73,
 76,
 77,
 80,
 81,
 84,
 85,
 88,
 89,
 92,
 93,
 96,
 97]

In [1299]:
# Flattening nested List

list_2d = [[1,2,3],[3,4,5],[6,7,8]]

flatten_list = [items for i in list_2d for items in i]

In [1300]:
flatten_list

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [1301]:
words = ["hello", "world", "python", "list", "comprehension"]

In [1302]:
first_letter = [letter for i in words for letter in i[0]]

In [1303]:
first_letter

['h', 'w', 'p', 'l', 'c']