In [1]:
print("Hello Normalization")

Hello Normalization

In [2]:
print("String ... ")

String ...

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [6]:
df = pd.read_csv('./DataSets/wine.csv',usecols=[0,1,2])

In [8]:
df.columns = ['Class Label','Alcohol','Malic Acid']

In [9]:
df

     Class Label  Alcohol  Malic Acid
0              1    14.23        1.71
1              1    13.20        1.78
2              1    13.16        2.36
3              1    14.37        1.95
4              1    13.24        2.59
..           ...      ...         ...
173            3    13.71        5.65
174            3    13.40        3.91
175            3    13.27        4.28
176            3    13.17        2.59
177            3    14.13        4.10

[178 rows x 3 columns]