In [13]:
print("Hello MySql")

Hello MySql

In [14]:
import pandas as pd

In [15]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\awadh\anaconda3\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [16]:
import pymysql

conn  = pymysql.connect(host='localhost',user='root',password='root',database='student_details')

In [17]:
databases = pd.read_sql_query('show databases',conn)

C:\Users\awadh\AppData\Local\Temp\ipykernel_22096\70193769.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  databases = pd.read_sql_query('show databases',conn)

In [18]:
databases

             Database
0        contstraints
1    employee_details
2  information_schema
3               mysql
4  performance_schema
5      sales_database
6  sqlbasicsquestions
7     student_details
8          walmart_db